
<div class="col-lg-12">
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animals">
                <td>{{ animal.name }}</td>
                <td>{{ animal.year }}</td>
                <td>
                    <a  [routerLink]="[ '/animal', animal._id ]" routerLinkActive="router-link-active"  class="btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        View
                    </a>
                    <button class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Edit
                    </button>
                    <button class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>