Padre ****************************
<h1>{{ titulo }}</h1>
<ul>
    <li>Camiseta</li>
    <li>Gorras</li>
</ul>

<hr/>

<p>
    Nombre del Parque:
    <input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />    
</p>
<p>
    Resultado: {{ nombreDelParque }}
</p>

<div *ngIf="miParque">
    <h4>Datos de mi parque desde el Hijo</h4>
    <ol>
        <li>{{ miParque.nombre }}</li>
        <li>{{ miParque.metros }}</li>
        <li>{{ miParque.vegetacion }}</li>
        <li>{{ miParque.abierto }}</li>
    </ol>
</div>

<p *ngIf="nombreDelParque">
    Hijo ****************************
    <parques 
    [nombre]="nombreDelParque" 
    [metros_cuadrados] = "5800" 
    (pasameLosDatos) = "verDatosParque($event)"
    ></parques>
</p>
