<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/home']" class="navbar-brand"> {{ title }}</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class=" glyphicon glyphicon-globe"></span>
            Inicio
          </a>
        </li>
        <li>
          <a [routerLink]="['/animals']" [routerLinkActive]="['active']"> 
            <span class="glyphicon glyphicon-home"></span>
            Animales 
          </a>
        </li>
        <li>
          <a [routerLink]="['/keepers']" [routerLinkActive]="['active']"> 
            <span class="glyphicon glyphicon-user"></span>
            Cuidadores
          </a>
        </li>
        <li>
          <a [routerLink]="['/tienda']" [routerLinkActive]="['active']"> 
            <span class="glyphicon glyphicon-user"></span>
            Tienda
          </a>
        </li>
        <li>
          <a [routerLink]="['/contact']" [routerLinkActive]="['active']"> 
            <span class="glyphicon glyphicon-phone-alt"></span>
            Contacto
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
            <a [routerLink]="['/register']" [routerLinkActive]="['active']"> 
              <span class="glyphicon glyphicon-user"></span>
              Register
            </a>
        </li>
        <li>
            <a [routerLink]="['/login']" [routerLinkActive]="['active']"> 
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li *ngIf="identity && identity.role == 'ROLE_ADMIN' ">
            <a [routerLink]="['/admin-panel']" routerLinkActive="router-link-active" > 
              <span  routerLinkActive="router-link-active"  class="glyphicon glyphicon-task">
              </span> Administration </a>
        </li>
        <li>
            <a [routerLink]="['/my-data']" routerLinkActive="router-link-active" > 
              <span class="glyphicon glyphicon-cog"></span> My data </a>
        </li>
        <li>
            <a class="pointer" (click)="logout()"> 
              <span class="glyphicon glyphicon-log-out"></span> Get out </a>
        </li>
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown">
              {{ identity.name }} <span class="caret"></span>
            </a>
        </li>
      </ul>

    </div>
  </nav>
</div>

<span *ngIf="emailContact"> 
  <strong>Email de Contacto: </strong>   
  {{ emailContact }}
  <button (click)="deleteEmail()"> Delete Email </button>
</span>

<hr>
<!-- <tienda></tienda> -->

<!-- Rutas  -->
<router-outlet></router-outlet>


