<body>
    <div class="container">
      <div class="signup-form-container">
            <!-- form start -->
            <form role="form" id="register-form" autocomplete="off">
            
              <div class="form-header">
                <h3 class="form-title"><i class="fa fa-user"></i> User Register</h3>
              </div>
              
              <div class="form-body">
                  <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                          <input name="name" type="text" class="form-control" placeholder="Username">
                        </div>
                  </div>

                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <input name="surname" type="text" class="form-control" placeholder="Last Name">
                      </div>
                  </div>

                  <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                          <input name="email" type="text" class="form-control" placeholder="Email">
                        </div> 
                  </div>
                  <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input name="password" type="password" class="form-control" placeholder="Password">
                            </div>  
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input name="cpassword" type="password" class="form-control" placeholder="Retype Password">
                            </div>  
                        </div>
                  </div>
                </div>

                <div class="form-footer">
                      <button type="submit" class="btn btn-info">
                      <span class="glyphicon glyphicon-log-in"></span> Register !
                      </button>
                </div>
            </form>
      </div>
    </div>
</body>