/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.navigation.col-g-12{
    margin-top: 10px; 
}

.jumbotron {
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 5px 1px #eee;
}

.navbar-nav .active{
    border-bottom: 3px solid orange;
}