<div class="col-lg-6">
    <h1>{{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
            Login success
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
            Error in autentication
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
        <p>
            <label>Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"  class="form-control" required>
            <span class="label label-warning" *ngIf="!email.valid && email.touched">
                Email is required
            </span>
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
            <span class="label label-warning" *ngIf="!password.valid && email.touched">
                    Password is required
            </span>
        </p>
        <input type="submit" value="login" class="btn btn-success">
    </form>
</div>